
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #010740;
  }
  @font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy-Regular.ttf");
  }
  @font-face {
    font-family: "Gilroy small";
    src: url("/fonts/Gilroy-Light.ttf");    
  }
  @font-face {
    font-family: "Gilroy midium";
    src: url("/fonts/Gilroy-Medium.ttf");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Bold.ttf");
  }

 
  .maincontainer {
        max-width:1280px;
        margin: auto;
    }
    .first {
        max-width: 1280px;

display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 0 10px ;
position: relative;
    }
    .first-para {
        height: 832px;
        width: auto;
        position: relative;
        background: #010740;

    }
    .first-another-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header {
width: 89.2%;
height: 100px;
display: flex;
gap: 34px;
align-items: center;
justify-content: space-between;

    }
    .header-first {
        max-width: 160px;
height: 46.56px;
    }
    .first-image {
width: 160px;
    }
    .second-image img {
        width: 56px;
        margin-right: 31px;
    }
    .third-header{
        width: auto;
        display: flex;
        gap: 35px;
    }
    .third-header h1 {
        width: 86px;
height: 24px;
cursor: default;
margin: 0;
font-family: "Gilroy";
font-size: 20px;
font-weight: 700;
line-height: 24.18px;
color: #D3D3D3;
letter-spacing: 0.02em;
text-align: left;
    }
    .second-image{
         display: flex;
         justify-content: left;
align-items: center;
width: 768px;
    }
    .third-header h2{
        width: 121px;
height: 24px;
cursor: default;
margin: 0;
font-family: "Gilroy";
font-size: 20px;
font-weight: 700;
line-height: 24.18px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
    }
    .third-header h3 {
        width: 81px;
height: 24px;
font-family: "Gilroy";
font-size: 20px;
cursor: default;
font-weight: 700;
line-height: 24.18px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
margin: 0;
    }
    .third-header h4 {
        width: 79px;
height: 24px;
font-family: "Gilroy";
font-size: 20px;
margin: 0;
cursor: default;
font-weight: 700;
line-height: 24.18px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
    }
    .button {
        width: 133px;
        height: 50px;
        gap: 0px;
        border-radius: 15px;
        opacity: 0px;       
background: #F3F3F3;
display: flex;
position: relative;
cursor: pointer;
    }
    .button h3 {
        margin: auto;
        width: 98px;
        height: 21px;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 800;
        line-height: 19.5px;
        text-align: center;
color: #010740;                
    }
.second-section {
    width: 515px;
height: 299px;
position: relative;
display: flex;
flex-wrap: wrap;
align-content: space-between;
top: 190px;
left: 80px;
}
.second-sec-first {
    width: 515px;
    height: 220px ;
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.second-sec-first h1 {
    width: auto;
height: 71px;
margin: 0;
cursor: default;
font-family: "Montserrat";
font-size: 58px;
font-weight: 800;
line-height: 70.7px;
text-align: left;
color: #FFFFFF;
}
.second-sec-first span {
    font-family: "Montserrat";
font-size: 58px;
font-weight: 800;
line-height: 70.7px;
text-align: left;
color: #67AEFF;
cursor: default;
}
.second-sec-first h2 span{
    font-family: "Montserrat";
    font-size: 58px;
    font-weight: 800;
    line-height: 70.7px;
    text-align: left;
    cursor: default;
    color: #9D67E5;
}
.second-sec-first h2 {
    height: 71px;
    width: auto;
    font-family: "Montserrat";
font-size: 58px;
font-weight: 800;
cursor: default;
line-height: 70.7px;
text-align: left;
color: #FFFFFF;
margin: 0;
}
.second-sec-first p {
    margin: 0;
    max-width: 515px;
height: 68px;
font-family: "Gilroy";
font-size: 28px;
cursor: default;
font-weight: 700;
line-height: 33.85px;
letter-spacing: 0.02em;
text-align: left;
color: #F3F3F3;
}
.inner-third-forth {
position: relative;
top: -16px;
}
.second-button{
    width: 185px;
    height: 60px;
    position: relative;
    border-radius: 15px;
    display: flex;
    cursor: pointer;
    background: linear-gradient(95.94deg, #9D67E5 0.32%, #67AEFF 98.86%);
}
.second-button h2 {
margin: auto;
width: 98px;
height: 21px;
top: 20px;
left: 44px;
gap: 0px;
opacity: 0px;
font-family: "Montserrat";
font-size: 16px;
font-weight: 800;
line-height: 19.5px;
text-align: center;
color:#FFFFFF;
}
.third-image {
  max-height: 100%;
    position: absolute;
    right: 0;
    display: flex;
}
.forth-image {
    width: 414.24px;
height: 504.48px;
}
.box {
    display: flex;
    padding: 0 80px;
    position: relative;
    bottom: 114px;
    justify-content: center;
}
#section-second {
    padding: 28px 43px 45px 44px;
border-radius: 25px;
border: 3px solid #5D66B1;
background: linear-gradient(93.08deg, rgba(1, 5, 45, 0.65) 0.01%, rgba(1, 5, 45, 0.75) 100%);
backdrop-filter: blur(25px);
display: flex;
justify-content: center;
align-items: center;
}
.inner-section{
    /* border: 1px solid red; */
justify-content: space-between;
    display: flex;
}
#inner-first {
margin-right: 63px;
/* border: 1px solid green; */
display: flex;
flex-direction: column;
}
#inner-first img {
    width: 65px;
    margin-left: 3px;
}
.second-inner {
    display: flex;
    cursor: default;
    flex-direction: column;
    justify-content: space-between;
/* border: 1px solid greenyellow; */
}
.third-inner {
 
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}
.third-inner h4 {
margin: 0;
margin-top: 28px;
margin-bottom: 20px;
font-family: "Montserrat";
font-size: 23px;
font-weight: 800;
line-height: 29.26px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}
.third-inner hr {
    width: 116px;
height: 2px;
margin: 0;
border-radius: 5px;
rotate: -180deg;
background-color: #FFFFFF;
}
.second-inner h5 {
    margin: 0;
    font-family:"Gilroy";
    font-size: 16px;
    width: 308px;
    font-weight: 700;
    line-height: 19.34px;
    letter-spacing: 0.02em;
    text-align: left;
color: #D3D3D3;        
}
.forth-inner{
margin-right: 63px;
display: flex;
flex-direction: column;
}
.forth-inner img {
    width: 60px;
}
#fifth-inner {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid gray; */
}
.sixth-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sixth-inner h4 {
    margin: 0;
    margin-bottom: 20px;
font-family: "Montserrat";
font-size: 24px;
font-weight: 800;
line-height: 29.26px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}
#fifth-inner hr{
    width: 116px;
    height: 2px;
    margin: 0;
    margin-bottom: 14px;
    border-radius: 5px;
background-color: #FFFFFF;    
}
#fifth-inner h6 {
font-family: "Gilroy";
font-size: 16px;
margin: 0;
width: 284px;
font-weight: 700;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
}
#inner-seven {
 cursor: default;

}
.fifth-image {
    width:65px;
}
.seven-inner {

    display: flex;
flex-direction: column;
}
.inner-eight{
display: flex;
margin-top: 12px;
flex-direction: column;

}
.inner-eight h3 { 
font-family: "Montserrat";
font-size: 24px;
margin: 0;
margin-bottom: 3px;
font-weight: 800;
line-height: 29.26px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}
.seven-inner hr {
    width: 116px;
height: 2px;
margin-bottom: 14px;
margin: 0;
border-radius: 5px;
background-color: #FFFFFF;
}
.seven-inner h6 {
    margin: 0;
    margin-top: 12px;
    font-family: "Gilroy small";
    font-size: 15px;
    width: 333px;
    font-weight: 700;
    line-height: 19.34px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #D3D3D3;        
}
.second-main-container {
    width: auto;
    position: relative;
    background-color: #010740;
}
.good img {
    max-width:100%;
    height: 336.28px;
}
.second-con {
    width: 554px;
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containt-image {
    display: flex;
    gap: 53px;
    height: 349px;
    justify-content: space-around;
    /* padding-right: 72px; */
    position: relative;
    align-items: center;
}
.containt-image h6  {
    width: 434px;
    height: 114px;
    margin-top: 0px;
    cursor: default;
    font-family: "Gilroy midium";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.34px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 33px;
color: #D3D3D3;        
}
.inner-third-box {
    width: 177px;
}
.second-box-last {
    gap: 58px;
    cursor: default;
    display: flex;
    justify-content: space-between;
}

.inner-second-box h2 {
font-family: "Montserrat";
font-size: 48px;
font-weight: 800;
margin: 0;
line-height: 58.51px;
letter-spacing: 0.01em;
background: linear-gradient(106.51deg, #9D67E5 0%, #67AEFF 82.81%);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
text-align: left;
}
.inner-second-box h3 {
margin: 0;
font-family: "Montserrat";
font-size: 24px;
font-weight: 800;
line-height: 29.26px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}

.inner-third-box h4 {
   margin: 0;
   width: max-content;
    font-family: "Montserrat";
    font-size: 47px;
    font-weight: 800;
    line-height: 58.51px;
    letter-spacing: 0.01em;
    text-align: left;
    background: linear-gradient(106.51deg, #9D67E5 0%, #67AEFF 82.81%);
    -webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.inner-third-box h5 {
margin: 0;
width: max-content;
font-family: "Montserrat";
font-size: 24px;
font-weight: 800;
line-height: 29.26px;
letter-spacing: 0.01em;
text-align: left;;
color: rgba(255, 255, 255, 1);
}

.inner-third-forth h5 {
    font-family: "Montserrat";
font-size: 48px;
margin: 0;
position: relative;
font-weight: 800;
line-height: 58.51px;
letter-spacing: 0.01em;
text-align: center;
background: linear-gradient(106.51deg, #9D67E5 0%, #67AEFF 82.81%);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.inner-third-forth h6 {
    width: auto;
height: 58px;
margin: 0;
font-family: "Montserrat";
font-size: 24px;
font-weight: 800;
line-height: 29.26px;
letter-spacing: 0.01em;
text-align: center;
color: rgba(255, 255, 255, 1);
}
.purple img {
    width: 691.24px;
    height: 599.48px;
    position: absolute;
    top: -42px;
    left: 0;
}
.last-heading {
    height: 88px;
    position: relative;
    top: 0px;
    margin:60px 0;
    left: 119px;
    width: 596px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.heading-first {
    width: 127px;
height: 88px;
cursor: default;
font-family: "Montserrat";
font-size: 36px;
font-weight: 800;
line-height: 43.88px;
letter-spacing: 0.01em;
text-align: left;
}
.heading-first h5 {
    font-family: "Montserrat";
font-size: 36px;
font-weight: 800;
cursor: default;
line-height: 43.88px;
letter-spacing: 0.01em;
margin: 0;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.heading-first span {
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 800;
    line-height: 43.88px;
    letter-spacing: 0.01em;
    text-align: left;    
color: rgba(103, 174, 255, 1);
}
.new-child h3  {
    width: 434px;
    height: 38px;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.34px;
    margin: 0;
    letter-spacing: 0.02em;
    text-align: left;
color: rgba(211, 211, 211, 1);        
}
.parent{
    /* height: 403px; */
    width: auto;
    display: flex;
    position: relative;
   justify-content: space-evenly;
    flex-wrap: wrap;
}

.forth-child {
    max-width: 315px;
    height: 403px;
    display: flex;
    position: relative;
    align-items: end;
}
.forth-two h3 {
position: absolute;
top: 44px;
right: 50px;
width: 72px;
height: 68px;
margin: 0;
font-family: "Montserrat";
font-size: 56px;
font-weight: 800;
line-height: 68.26px;
letter-spacing: 0.01em;
text-align: left;
cursor: default;
color: #0D113773;
}
.forth-first {
background: #01052d;
border-radius: 15px;
padding: 96px 27px 22px 25px;
}
.tower {
    position: absolute;
    top: 0;
    left: 25px;
}
.forth-second h3 {
    max-width: 228px;
    height: 58px;
 margin-top:0;
 margin-bottom: 12px;
    font-family: "Montserrat";
font-size: 24px;
font-weight: 800;
line-height: 29.26px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}
.forth-second h4 {
max-width: 263px;
height: 133px;
margin-top: 0;
margin-bottom: 12px;
font-family: "Gilroy";
font-size: 17px;
font-weight: 700;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
}
.forth-second span {
    font-family: "Gilroy";
font-size: 16px;
font-weight: 700;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #67AEFF;
}
.forth-second .second-span {
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.34px;
    letter-spacing: 0.02em;
    text-align: left;
color: #9D67E5;    
}
.forth-third {
max-width: 184px;
cursor: default;
    display: flex;
    left: 39px;
    align-items: center;
position: relative;
    /* border: 1px solid red; */
}
.forth-forth {
    width: 55px;
    height: 55px;
    border-radius: 27.5px ;
    background: #67AEFFBF;
    display: flex;
    align-items: center;
}
.forth-third h5 {
    width: 109px;
    height: 24px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    left: 27px;
    line-height: 24.38px;
    letter-spacing: 0.01em;
    text-align: left;
color: #FFFFFF;        
margin: 0;
}
.arrow {
    position: absolute;
left: 145px;
}
.last-child {
    max-width: 315px;
    height: 340px;
    cursor: default;
    display: flex;
align-items: end;
    position: relative;
}
.last-child-first {
    border-radius: 15px;
    padding: 96px 38px 26px 26px ;
    background: #01052d;
}
.party {
    position: absolute;
    top: 0;
    left: 25px;
}
.last-child-first h3 {
    width: 231px;
height: 58px;
margin-top: 0;
margin-bottom:12px ;
font-family: "Montserrat";
font-size: 24px;
font-weight: 800;
line-height: 29.26px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}
.last-child-first h4 {
    max-width: 263px;
    height: 133px;
    font-family: "Gilroy";
font-size: 16.4px;
margin: 0;
font-weight: 700;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
} 
.three h6 {
    position: absolute;
    top: 46px;
    right: 50px;
    margin: 0px;
    width: 73px;
height: 68px;
font-family: "Montserrat";
font-size: 56px;
font-weight: 800;
line-height: 68.26px;
letter-spacing: 0.01em;
text-align: left;
color: #0D113773;
}
.one h6 {
    position: absolute;
    top: 55px;
    right: 24px;
    cursor: default;
    margin: 0px;
    width: 73px;
    height: 68px;
    font-family: "Montserrat";
    font-size: 56px;
    font-weight: 800;
    line-height: 68.26px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #0D113773;
}
.first-child-new {
    max-width: 249px;
    cursor: default;
}
.forth-container {
    width: auto;
    height: 662px;
    cursor: default;
    display: flex;
    position: relative;
}
.forth-second {
    cursor: default;
}
.forth-container .circle {
    position: absolute;
top: -132px;
max-width: 750px;
}
.circle-second {
    width: 299px;
    cursor: default;
    height: 132px;
    position: absolute;
    top: 167px;
    left: 124px;
    /* border: 1px solid rgb(31, 4, 4); */
}
.circle-second h1 {
max-width: 157px;
margin: 0;
font-family: "Gilroy";
font-size: 16px;
font-weight: 700;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #9D67E5;
}
.circle-second h2 {
    margin: 0;
font-family: "Montserrat";
font-size: 36px;
font-weight: 800;
line-height: 43.88px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}
.circle-second span {
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 800;
    line-height: 43.88px;
    letter-spacing: 0.01em;
    text-align: left;
color: #67AEFF;    
}
.circle-third {
    height: 38px;
    width: auto;
    gap: 16px;
    padding-right: 8px ;
    position: absolute;
    top: 86px;
left: 446px;

    display: flex;
}
.circle-third h3 {
    max-width: 532px;
margin: 0;
font-family: "Gilroy";
font-size: 16px;
font-weight: 700;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
}
.circle-forth {
    height: 38px;
    width: auto;
    gap: 16px;
    position: absolute;
    top: 195px;
left: 473px;
display: flex;
align-items: center;
}
.circle-forth h4 {
    margin: 0;
    padding-right: 8px;
    max-width: 579px;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.34px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #D3D3D3;        
}
.circle-fifth {
    height: 38px;
    width: auto;
    position: absolute;
    top: 313px;
    gap: 16px;
left: 465px;
display: flex;
align-items: center;
}
.circle-fifth h5 {
    max-width: 619px;
margin: 0;
padding-right: 8px !important;
font-family: "Gilroy";
font-size: 16px;
font-weight: 700;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
}
.circle-sixth {
    height: 38px;
    gap: 16px;
    width: auto;
    position: absolute;
    top: 431px;
left: 415px;
display: flex;
align-items: center;
}
.circle-sixth h6 {
    max-width: 538px;
font-family: "Gilroy";
font-size: 16px;
font-weight: 700;
padding-right: 8px;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
margin: 0;
}
#last-forth h2 {
    width: 270px;
height: 88px;
position: absolute;
margin: 0;
left: 122px;
bottom: 0;
font-family: "Montserrat";
font-size: 36px;
font-weight: 800;
line-height: 43.88px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}
#last-forth span {
    font-family: "Montserrat";
font-size: 36px;
font-weight: 800;
line-height: 43.88px;
letter-spacing: 0.01em;
text-align: left;
color: #67AEFF;
}
.fifth-container {
    width: auto;
height: 347px;
margin-top: 32px;
display: flex;
justify-content: center;
}
.container-para {
    max-width: max-content;
    cursor: default;
    height: 347px;
    gap: 42px;
    padding-left: 34px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.box-pink {
    width: 250px;
    height: 237px;
    padding: 30px 36px 43px 30px;
    border-radius: 15px;
    background: linear-gradient(135deg, #803DDA 0%, #165FB1 100%);
}
.for-images {
    width: auto;
    height: 65px;
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
}
.for-images h3 {
    width: 62px;
height: 68px;
margin: 0;
font-family: "Montserrat";
font-size: 56px;
font-weight: 800;
line-height: 68.26px;
letter-spacing: 0.01em;
text-align: left;
color: #7C87EF73;
}
#best {
    width: 132px;
    height: 35px;
   
}
#best h2 {
    width: 132px;
height: 29px;
font-family: "Montserrat";
font-size: 24px;
font-weight: 800;
margin: 0;
line-height: 29.26px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}
.second-good {
    max-width: 526px;
    position: absolute;
    left: 39px;
    top: 0;
}
#best hr {
    width: 116px;
    height: 2px;
    margin: 0;
    border-radius: 5px;
background-color: #FFFFFF;    
}
#best h3 {
    width: 249px;
height: 76px;
margin-bottom: 0;
margin-top: 20px;
font-family: "Gilroy";
font-size: 16px;
font-weight: 700;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
}
.box-black {
    width: 249px;
    height: 242px;
    padding: 30px 36px 43px 30px;
    border-radius: 15px;
    background: #01052D;
position: relative;
}
.for-images {
    width: auto;
    height: 65px;
    margin-bottom: 41px;
    display: flex;
    justify-content: space-between;
}
.for-images h3 {
    width: 62px;
height: 68px;
margin: 0;
font-family: "Montserrat";
font-size: 56px;
font-weight: 800;
line-height: 68.26px;
letter-spacing: 0.01em;
text-align: left;
color: #7C87EF73;
}
#best {
    width: 132px;
    height: 35px;
   
}
#best h2 {
    width: 275px;
height: 29px;
font-family: "Montserrat";
font-size: 24px;
font-weight: 800;
margin-top: 0;
margin-bottom: 4px;
line-height: 29.26px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}
#best hr {
    width: 116px;
    height: 2px;
    margin: 0;
    border-radius: 5px;
background-color: #FFFFFF;    
}
#best h3 {
    width: 242px;
height: 76px;
margin-bottom: 0;
margin-top: 20px;
font-family: "Gilroy";
font-size: 16px;
font-weight: 700;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
}
.for-images h4 {
    width: 62px;
height: 68px;
margin: 0;
font-family: "Montserrat";
font-size: 56px;
font-weight: 800;
line-height: 68.26px;
letter-spacing: 0.01em;
text-align: left;
color: #0D113773;
}
.for-line {
position: absolute;
    width: 6px;
    left: 0;
}
.for-line hr {
    margin: 0;
    border: 0;
    width: 6px;
    height: 90px;
    border-radius: 3px;
    background: #67AEFF;
    box-shadow: 0px 0px 7px 0px #3276DD80;
}
#black-last {
    width: 355px;
height: 347px;
position: relative;
}
.two-box {
    width: 315px;
height: 315px;
position: absolute;
right: 0;
bottom: 0;
border-radius: 0 89px 17px 17px;
background: linear-gradient(135deg, #803DDA 0%, #165FB1 100%);
}
.box-black-white {
    width: 249px;
    height: 242px;
    padding: 30px 36px 43px 30px;
    border-radius: 15px 80px 15px 15px; 
    background: #01052D;
    position: relative;
}
#sixth-container {
    width: auto;
    display: flex;
    margin-bottom: 41px;
    justify-content: center;
    border-width: 1px solid green;
}
#sixth-container-box {
    width: 1032px;
height: 494px;
display: flex;
justify-content: space-between;
margin-top: 62px;
}
#box-container-one{
    max-width: 310px;
    cursor: default;
}
#box-container-one h3 {
    width: 222px;
height: 44px;
margin-top: 0;
margin-bottom: 20px;
font-family: "Montserrat";
font-size: 36px;
font-weight: 800;
line-height: 43.88px;
letter-spacing: 0.01em;
text-align: left;
color: #FFFFFF;
}
#box-container-one span {
color: #67AEFF;
}
#box-container-one h4 {
    width: 310px;
height: 57px;
margin: 0;
font-family: "Gilroy";
font-size: 16px;
font-weight: 700;
line-height: 19.34px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
}
#box-fifth-last{
    max-width: 669px;
height: 490px;
position: relative;
background: #01052d;
border-radius: 15px 15px 74px 15px;
border: 2px solid #67AEFF
}
#box-fifth-last h3 {
    width: 243px;
    height: 29px;
    margin: 0;
    cursor: default;
    margin-bottom: 34px;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 800;
    line-height: 29.26px;
    letter-spacing: 0.01em;
    text-align: left;
color: #FFFFFF;        
}
input {
    width: 510px;
height: 44px;
border-radius: 10px;
font-family: "Gilroy";
font-size: 16px;
font-weight: 700;
line-height: 19.34px;
text-align: left;
padding-left: 24px;
color: #D3D3D3;
background: #010740;
border: 2px solid  #010740;
}
input::placeholder {
    color:#656C92;
    width: auto;
    height: 19px;
    font-family: "Gilroy midium";
font-size: 16.8px;
letter-spacing: 0.1rem;
font-weight: 700;
line-height: 19.34px;
text-align: left;
}
input::placeholder :hover {
    color: white;
}
input:hover {
    border: 2px solid #67AEFF;
}
.for-time  input{
    max-width: 230px;
}
.new-for-input {
    display: flex;
    gap: 20px;
}
.for-two-childs {
    max-width: 260px;
    height: 50px;
    outline: non;
    display: flex;
    position: relative;
    margin-bottom: 23px;
    justify-content: space-between;
}
.second-image {

}
input:focus {
    outline: none;
}
.for-two-childs input {
    width: 230px;
    
    height: 44px;
    position: relative;
}
.check-box {
    gap: 11px;
    display: flex;
}
.for-check-number h6 {
cursor: default;
margin: 0;
font-family: "Gilroy";
font-size: 12px;
font-weight: 700;
line-height: 14.51px;
text-align: left;
color: #D3D3D3;
}
.seven-button {
    width: 185px;
    cursor: pointer;
height: 60px;
border-radius: 15px;
margin-top: 16px;
display: flex;
background: linear-gradient(95.94deg, #9D67E5 0.32%, #67AEFF 98.86%);
}
.for-second-last-section hr {
    width: 6px;
height: 170px;
top: 0px;
background: #67AEFF;
box-shadow: 0px 0px 7px 0px #3276DD80;
margin: 0;
border: 0;
top: 30px;
border-radius: 3px;
position: absolute;
left: 0;
}
.for-names{
    padding-top: 30px;
    padding-right: 98px;
    padding-left: 34px;
    padding-bottom: 25px;
}
.seven-button h4 {
    width: 119px;
height: 21px;
margin: auto;
font-family: "Montserrat";
font-size: 16px;
font-weight: 800;
line-height: 19.5px;
text-align: center;
color: #FFFFFF;
}
.for-check-number hr {
width: 70px;
height: 0px;
margin-right: 0;
margin-top: 0.5px;

border-radius: 2px;
border: 1px solid #67AEFF;
}
footer {
    width: auto;
height: 214px;
overflow: hidden;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
background-color: #01052D;
}
.foter-first {
    width: 1057px;
    cursor: default;
    height: auto;
border-radius: 5px;
/* border: 1px solid red; */
}
#first-first {
    display: flex;
    justify-content: space-between;
}
.about {
    width: 502px;
height: 24px;
display: flex;
justify-content: space-between;
/* border: 1px solid green; */
}
.about h1 {
    width: 86px;
    height: 24px;
    font-family: "Gilroy";
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #D3D3D3;        
}
.about h2 {
    width: 121px;
    height: 24px;
    font-family: "Gilroy";
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #D3D3D3;        
}
.second-info {
    display: flex;
    gap: 48px;
    justify-content: end;
    margin-bottom: 28px;
}
.hamburger {
    visibility: hidden;
}
.second-info h1 {
    width: 155px;
height: 24px;
margin: 0;
font-family: "Gilroy";
font-size: 20px;
font-weight: 700;
line-height: 24.18px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
}
.second-info h2 {
    width: 180px;
height: 24px;
margin: 0;
font-family: "Gilroy";
font-size: 20px;
font-weight: 700;
line-height: 24.18px;
letter-spacing: 0.02em;
text-align: left;
color: #D3D3D3;
}
.end-footer {
    display: flex;
    gap: 60px;
}
.second-info h3 {
    width: 318px;
    height: 24px;
    margin: 0;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 700;
    line-height: 24.18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #D3D3D3;
}
.foter-first hr {
    width: 100%;
    height: 2px;
    border: 0;
    border-radius: 5px;
    background: #67AEFF33;
}
.last-footer {
    width: auto;
    height: 15px;
    margin: 0;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
.select-d {
    position: relative;
}
.select-d img {
    position: absolute;
    right: 0;
    width: 18px;
}
.last-footer h2 {
    width: 243px;
    height: 15px;
    font-family: "Gilroy";
font-size: 12px;
margin: 0;
font-weight: 700;
line-height: 14.51px;
letter-spacing: 0.02em;
text-align: left;
color: #656C92;
}
.end-footer h1 {
    width: 80px;
    height: 15px;
    margin: 0;
    font-family: "Gilroy";
    font-size: 12px;
    font-weight: 700;
    line-height: 14.51px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #656C92;        
}
.parent-parent {
    width: 1038px;
    display: flex;
    gap: 42px;
    justify-content: space-between;
    padding: 0 8px 0 8px;
    /* border: 1px solid red; */
}
.end-footer h2 {
    width: 78px;
    height: 15px;
font-family: "Gilroy";
font-size: 12px;
font-weight: 700;
margin: 0;
line-height: 14.51px;
letter-spacing: 0.02em;
text-align: left;
color: #656C92;    
}
@media screen and (max-width: 1270px) {
    .box {
        padding: 0 30px !important;
    }
  .foter-first {
    padding: 0 13px;
  }
  .container-para {
    padding-left: 0;
  }
  }
  @media screen and (max-width: 1224px) {
    .second-good {
        max-width: 480px !important;
    }
  }
  @media screen and (max-width: 1168px) {
    .second-good {
        left: 30px;
        max-width: 461px !important;
    }
  }
  @media screen and (max-width: 1140px) {
    .second-good {
        left: 28px;
        max-width: 461px !important;
    }
  }
  @media screen and (max-width: 1166px) {
    .third-inner h4 {
        font-size: 19px !important;
    }
    .sixth-inner h4 {
        font-size: 22px;
    }
    .inner-eight h3 {
        font-size: 20px;
    }

  }
  @media screen and (max-width: 1129px) {
    .second-good {
        max-width: 450px !important;
        left: 27px;
    }
  }
  @media screen and (max-width: 1120px) {
    .second-good {
        max-width: 450px !important;
    }
    .second-con {
        width: 507px !important;
    }
  }
  @media screen and (min-width: 860px) {
    .good img {
        display: none;
    }
  }
  @media screen and (min-width: 870px) {
    .sixth-inner h4 br {
display: none;
    }

  }
  @media screen and (max-width: 1080px) {
    .last-child-first h4 {
        font-size: 13.35px !important;
    }
    .forth-second h4 {
        font-size: 14px !important;
    }
    .fifth-container {
        padding: 0 10px;
    }
    #black-last {
        width: 335px !important;
            }
  } 
  @media screen and (max-width: 1190px) {
    .second-image {
        width: 559px !important;
    }
  }
  @media screen and (max-width: 1071px){

      #box-container-one h4 {
        text-align: center !important;
    }
  }
  @media screen and (max-width: 1071px) {
    .containt-image h6 {
        font-size: 14px !important;
    }
  
    .container-para {
        gap: 24px !important;
    }
    .inner-second-box h2 {
        font-size: 34px !important;
    }
    .inner-second-box h3 {
        font-size: 19px !important;
    }
    .inner-third-box h4 {
        font-size: 30px !important;
    }
    .inner-third-box h5 {
        font-size: 19px !important;
    }
    .inner-third-forth h5 {
        font-size: 36px !important;

    }
    .inner-third-forth h6 {
        font-size: 19px !important;
     width: 137px !important;
    }
    .for-two-childs input {
        width: auto !important;
    }
#sixth-container-box {
padding: 0 10px;
flex-wrap: wrap;
gap: 23px;
width: -webkit-fill-available;
height: auto !important;
justify-content: center !important;
}
.for-two-childs {
    width: auto !important;
    gap: 20px ;
}
input{
    width: -webkit-fill-available;
}
@media screen and (max-width: 790px) {
    .second-image {
        display: none;
    }
} 
@media screen and (max-width: 1024px) {
    .box-pink {
        padding: 29px 19px 42px 19px !important;
    }
    .box-black {
        padding: 29px 19px 42px 19px !important;
    }
    .box-black-white {
        padding: 29px 19px 42px 19px !important;
    }
    #black-last {
        width: 316px !important;
            }
}
@media screen and (max-width: 1026px) {
    #box-container-one {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .second-info {
        margin-bottom:  0;
    }
}
@media screen and (max-width: 1004px) {
    #inner-first {
        margin-right: 38px;
    }
}
@media screen and (max-width: 1030px) {
    .containt-image {
        height: auto;
    }
} 

@media screen and (max-width: 1020px) {
    .header {
        width: 98% !important;
    }
    
    #section-second {
        padding: 22px 35px 22px 35px !important;
    }
    .box {
        padding: 0 25px !important;
    }
.first {
    padding: 0 0px !important;
    margin-left: 21px;
    justify-content: normal;
}
    .third-header {
  gap: 14px !important;
    }


.seven-inner h6 br {
display: none !important;
}
body{
    overflow-x: hidden !important;
}
  }
}
@media screen and (max-width: 1060px) {
    .second-con {
        width: 410px !important;
    }
    .second-box-last{
        gap: 37px ;
    }
}
@media screen and (max-width: 1164px) {
    .containt-image h6 {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 1022px) {
    .second-good {
        left: 12px;
        max-width: 439px !important;
    }
    .inner-third-forth h6{
        width: 113px !important;
    }
}
@media screen and (max-width: 1192px) {
    .seven-inner h6 {
        width: auto;
    }
    #fifth-inner h6 {
        width: auto;
    }
    .second-inner h5{
width: auto;
    }
    .inner-third-box {
        width: 127px !important;
    }
}
@media screen and (max-width: 1110px) {
.circle-fifth h5 br {
display: none;
}
}
@media screen and (max-width: 1012px) {
    .circle-third h3 br {
        display: none;
    }
    .second-info h1 {
        display: none !important;
    }
    .second-info h2 {
        width: auto;
        height: auto;
    }
    .second-info h3{
        width: auto;
        height: auto;
    }
}
@media screen and (max-width: 908px) {
    .sixth-inner h4 {
        font-size: 21px !important;
    }
    .third-inner h4 {
        font-size: 18px !important;
    }

}
@media screen and (max-width: 982px) {
.parent-parent {
    gap: 29px !important;
}
.forth-third {
    left: 20px !important;
}

.last-child-first {
    padding: 96px 17px 26px 26px !important; 
}
}
@media screen and (max-width: 987px) {
   .forth-inner {
       margin-right: 34px  !important;
   }
}
@media screen and (max-width: 968px) {
    .forth-inner {
        margin-right: 43px ;
    }
}
@media screen and (max-width: 958px) {
    .box-pink {
        padding: 29px 13px 42px 15px !important;
    }
    .box-black {
        padding: 29px 13px 42px 15px !important;
    }
    #best h2 {
        font-size: 22px !important;
    }
    #best hr {
        width: 95px !important;
    }
    #best h3 {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 1004px) {
    .forth-inner {
        margin-right: 35px;
    }
}
 @media screen and (max-width: 940px) {
    .good-image {
        width: 96% !important;
    }
    .fifth-container {
        height: auto !important;
    }
    .container-para {
        flex-wrap: wrap;
        justify-content: center;
        height: auto!important;
    }
    .last-child-first h3 {
        font-size: 20px !important;
    }
    .forth-second h3 {
        font-size: 19px !important;
    }

}
@media screen and (max-width: 1216px) {
    .second-image {
        display: none;
    }
    .header {
        width: 98% !important;
    }
    .button {
        display: none;
    }
    .hamburger{
        visibility: visible;
    }
}
@media screen and (max-width: 946px) {
    .forth-inner {
        margin-right: 32px;
    }

}
@media screen and (max-width: 960px) {
    .second-good {
        left: 0;
        max-width: 413px !important;
    }
} 
@media screen and (max-width: 927px) {
    .last-child-first {
        font-size: 18px !important;
    }
    .last-child-first h4 {
        font-size: 12px.35px !important;
    }
 
    .forth-second h4 {
        font-size: 12px !important;
    }
    .forth-second span {
        font-size: 14px !important;
    }
    .second-span {
        font-size: 14px;
    }
    .forth-third h5 {
        font-size: 14px !important;
    }
    .arrow {
        width: 33px !important;
        left: 119px !important;
    }
}
@media screen and (max-width: 900px) {
    .second-con {
        width: 369px !important;
    }
}
@media screen and (max-width: 876px) {
    .last-child-first {
        padding: 95px 18px 26px 18px !important;
    }
    .parent-parent {
        gap: 20px !important;
    }
    .last-child-first h3 {
        font-size: 18px !important;
    }
    .second-good {
        max-width: 389px !important;
    }
}
@media screen and (min-width: 842px) {
 .good img {
    display: none !important;
}
}
@media screen and (max-width: 842px) {
    .good img{
        display: flex !important; 
    }
    .containt-image {
        flex-wrap: wrap;
    }
    .second-con {
        width: auto !important;
    }
    .containt-image {
        padding: 0 13px !important;
    }
}
@media screen and (max-width: 859px) {
    .parent-parent {
        flex-wrap: wrap;
        justify-content: center !important;
    }
   
    .forth-container {
height: 476px !important;
    }
    .containt-image h6 {
        position: relative;
    }

    .new-image {
        overflow: hidden;
        max-width: 100%;   
    }

    .second-image img {
display: none;
    }
    #section-second {
        flex-wrap: wrap;
    }
    .last-heading {
        flex-direction: column;
        left: 0;
        justify-content: center;
        width: 100%;
    }
    .second-info {
        gap: 15px !important;
    }
    .last-heading {
        margin-top: 0 !important;
    }
    .last-heading {
        margin: 37px 0 !important;
    }
    .heading-first h5 br {
display: none;
    }
    .heading-first h5 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    .new {
        display: flex;
        justify-content: center;
    }
    .forth-container .circle {
        max-height: 538px !important;
        top: -109px;
    }
    .circle-second {
        top: 89px !important;
        left: 70px!important;
    }
    .circle-second h2 {
        font-size: 26px !important;
    }
    .circle-second  h1 {
        font-size: 13px !important;
    }
    #last-forth h2 {
        left: 29px !important;
        line-height: 23.88px ;
        font-size: 26px !important;
    }
    #last-forth  span {
        font-size: 31PX !important;
    }
    .circle-second span {
        font-size: 26px;
    }
    .circle-third {
        left: 307PX !important;
        top: 30px !important;
    }
    .circle-third h3 {
        font-size: 13px;
    }
    
    .circle-forth {
        top: 113px !important;
        left: 334px !important;
    }
    .circle-forth h4 {
        padding-right: 9px;
        font-size: 13px;
    }
    .circle-fifth {
        top: 213px;
        left: 325px;
    }
    .circle-fifth h5 {
font-size: 13px !important;
    }
   
    
    .purple img {
        left: 0;
        max-width: min-content;
    }
    .circle-sixth {
        top: 305px;
        left: 278px;
    }
    .circle-sixth h6 {
        font-size: 11px;
    }

}
@media screen and (max-width: 842px) {
    .second-good {
        display: none;
    }
    .containt-image {
        justify-content: center !important;
        height: auto;
        gap: 0px;
    }
}
@media screen and (max-width: 870px) {
.inner-eight h3 {
    margin-bottom: 20px;
}
.inner-eight {
    margin-top: 23px;
}
.forth-image {
    max-width: 414px !important;
}
.containt-image {
    height: auto;
}
}
@media screen and (max-width: 750px) {
    .third-header {
        display: none;
    }
}
@media screen and (max-width: 712px) {
    #box-fifth-last {
        max-width: -webkit-fill-available;
        height: auto !important;
    }
}
@media screen and (max-width: 640px) {
    #first-first {
        justify-content:center !important;
    }
}
@media screen and (max-width: 682px) {
    .forth-container .circle {
        max-height: 470px !important;
        top: -78px !important;
    }
    .circle-second {
        top: 89px !important;
        left: 55px !important;
    }
    .circle-second h2 {
        font-size: 24px !important;
    }
    .circle-third {
        left: 264px !important;
        top: 34px !important;
    }
    .circle-forth {
        left: 290px !important;
        top: 112px !important;
    }
    .circle-fifth {
        left: 277px !important;
    }
    .circle-sixth {
        left: 223px !important;
    }
    .forth-container {
        height: 439px !important;
    }
}
@media screen and (max-width: 569px) {
    .foter-first {
        height: auto !important;
    }
}
@media screen and (max-width: 712px) {
    #first-first {
        flex-wrap: wrap;
      align-items: center;
      gap: 24px;
      justify-content: center;
    }
    .about {
        width: -webkit-fill-available;
        height: auto;
        gap: 23px;
        justify-content: center;
    }

    #first-first img {
        margin-bottom: 5px;

    }
    .about h2 {
        width: auto;
        height: auto;
    }
    .about h1 {
        width: auto;
        height: auto;
    }
    .last-footer h2 {
        width: auto;
        height: auto;
    }
    .end-footer h1 {
        width: auto;
        height: auto;
    }
 
    .end-footer h2 {
        width: auto;
        height: auto;
    }
    footer {
        justify-content: center !important;
        align-items: center !important;
    }
    .second-info {
        justify-content: center !important;
    }
 
}
@media screen and (max-width: 784px) {
  .box {
    flex-wrap: wrap;
  }
  .inner-section {
    flex-wrap: wrap;
  }
  #inner-first {
margin-right: 10px;
}
  .forth-inner {
    margin-top: 27px;
    margin-right: 10px !important;
  }
  .sixth-inner h4 {
display: flex !important; 
  }
  #inner-seven {
    margin-top: 27px;
    margin-right: 10px !important;
  }
}
@media screen and (max-width: 768px) {
    .second-section {
        width: auto;
        left: 0 !important;
justify-content: center;
    }
    .second-con {
        height: auto;
    }
    .new-child h3 {
        text-align: center ;
    }
    .second-sec-first {
        width: auto !important;
        justify-content: center;
        padding: 0 15px;
    }
    .inner-third-box h5 {
        font-size: 17px !important;
    }
    .inner-third-box {
        width: auto !important;
    }
    .inner-third-forth h6 {
        width: 113px !important;
    }
}
@media screen and (max-width: 624px) {
    .forth-container .circle {
        max-height: 412px !important;
        top: -70px !important;
    }
    .circle-second {
        top: 89px !important;
        width: auto;
        left: 53px !important;
    }
    .circle-second span {
        font-size: 25px;
    }
    .circle-third {
        left: 233px !important;
    }
    .circle-third h3 {
        font-size: 12px !important;
    }
    .circle-second h2 {
        font-size: 21px !important;
        line-height: 30.88px;
    }
    .circle-second span {
        font-size: 21px !important;
        line-height: 34.88px;
    }
    .circle-forth {
        left: 255px !important;
        top: 106px !important;
    }
    .circle-fifth {
        left: 243px !important;
        top: 181px !important;
    }
    .circle-forth h4 {
        font-size: 13px !important;
    }
    .circle-sixth {
        left: 195px !important;
        top: 258px !important;
    }
    #last-forth h2 {
        font-size: 18px !important;
    }
    #last-forth span {
        font-size: 23px !important;
    }
    .forth-container {
        height: 389px !important;
    }

}
@media screen and (max-width: 601px) {
    .forth-container .circle {
        max-height: 336px !important;
        max-width: 750px;
        top: 41px !important;
    }
    .circle-second {
        top: 157px !important;
        left: 37px !important;
    }
    .circle-second h2 {
    font-size: 16px !important;
    line-height: 25.88px;
    }
    .forth-container {
        height: 428px !important;
    }
    .circle-third {
        left: 169px !important;
        top: 85px !important;
    }
    .circle-third h3 {
        height: auto;
        font-size: 12px !important;
    }
    .circle-forth {
        left: 201px !important;
        top: 153px !important;
        height: auto !important;
    }
    .circle-forth h4 {
        font-size: 12px !important;
    }
    .circle-fifth {
        left: 200px !important;
        top: 201px !important;
        height: auto;
    }
    .circle-fifth h5 {
        font-size: 12px !important;
    }
    .circle-sixth {
        left: 183px !important;
        top: 276px !important;
    }
    .circle-second span  {
font-size: 20px !important;
    }

} 
@media screen and (max-width: 594px){
.for-names {
    padding-right: 34px  !important;
}
}
@media screen and (max-width: 530px) {
    .new-for-input {
        flex-wrap: wrap;
        gap: 0px;
        margin-bottom: 14px;
    }
}
@media screen and (max-width: 548px){
    .second-sec-first p {
        height: auto;
        font-size: 22px !important;
    }
    .inner-third-forth {
        top: 0;
    }
}
@media screen and (max-width: 518px){

       .inner-third-box {
        width: auto;
       }
       .circle-third {
        gap: 9px;
       }
    
}
@media screen and (max-width: 518px) {
   .forth-container .circle
   {
       max-height: 293px !important;
       top: 39px;
   }

   .circle-second {
    top: 135px !important;
    left: 28PX !important;
   }
   .circle-third {
    left: 153px !important;
   }
   .circle-second h2 {
    font-size: 14px !important;
   }
   .circle-second span {
    font-size: 17px !important;
   }
   .circle-forth {
    left: 174px !important;
    top: 144PX !important;
    gap: 9px;
   }
   .circle-fifth {
    left: 172px !important;
    top: 191px !important;
    gap: 9px;
   }
   .circle-sixth {
    left: 140px !important;
    top: 266px !important;
    gap: 9px;
   }
   .forth-container {
    height: 387px !important;
   }
   #last-forth h2 {
    left: 25px !important;
    line-height: 5.88px;
    font-size: 16px !important;
   }
   #last-forth span {
    font-size: 18px !important;
   }
.new-child h3 {

padding: 0 15px;
}
} 
@media screen and (max-width: 504px) {
    .forth-container .circle {
        max-height: 243px !important;
    }
    .circle-second {
        top: 115px !important;
        left: 17px !important;
    }
    .circle-second  h1 {
        font-size: 11px !important;

    }
    .circle-second span {
        line-height: 19px !important;
    }
    .circle-second h2  {
font-size: 14px !important;
line-height: 20px;
    }
    .forth-container {
        height: 339px !important;
    }
    .circle-second span {
        font-size: 10px;
    }
    .circle-third  {
        left: 128px !important;
    }
    .circle-third h3 {
        line-height: 14.34px;
        font-size: 10px !important;
    }
    .circle-forth {
        left: 144px !important;
    }
    .circle-forth h4 {
        font-size: 11px !important;
        line-height: 14.34px ;
    }
    .circle-fifth {
        left: 121px !important;
        top: 196px !important;
    }
    .circle-fifth h5 {
        font-size: 10.9px !important;
        line-height: 14.34px;
    }
    .circle-sixth {
        display: none;
    }
    #last-forth h2 {
        font-size: 13px !important;
    }
    #last-forth span {
        font-size: 17px !important;
    line-height: 39px;
    }

}
@media screen and (max-width: 511px) {
    .foter-first {
        height: auto;
    }
}

@media screen and (max-width: 555px) {
.circle-third h3 {
    font-size: 10.9px !important;
    line-height: 19.34px;
}

.purple img {
    max-width: fit-content;
}
.end-footer {
    gap: 20px !important;
}
.circle-forth h4 {
    font-size: 10.5px !important;
}
.circle-fifth h5 {
    font-size: 10px !important;
    line-height: 14.34px ;
}
.second-info h3 {
    font-size: 13px !important;
}
.second-info h2 {
    font-size: 13px !important;
}
.about h1 {
    font-size: 13px !important;
}
.foter-first {
    overflow: hidden;
}
.about h2 {
    font-size: 14PX;
}
.foter-first {
    width: -webkit-fill-available;
}

}
@media screen and (max-width: 435px) {
    .second-sec-first {
        width: auto;
        height: auto;
    }
 
    .inner-third-box h5 {
        width: max-content;
        font-size: 15px !important;
    }

    .inner-third-forth h5 {
        font-size: 33px;
        line-height: 60px !important;
    }
    .inner-second-box h3 {
        font-size: 17px !important;
    }
    .containt-image h6 {
        font-size: 15px !important;
        line-height: 22.26px;
        width: auto !important;
        display: flex;
flex-wrap: wrap;
    }
    .circle-forth {
        gap: 0px;
    }
    .circle-third {
        gap: 0px;
    }
    .circle-fifth{
        gap: 0;
    }

    .inner-third-box h4  {
width: auto;
font-size: 29px;
    }

    .second-con {
        padding: 0px;
    }
    .second-sec-first p {
        font-size: 20px !important;
        line-height: 28.85px;
    }
    .second-sec-first h1 {
        width: auto;
        font-size: 45px !important;
    }
    .end-footer {
        gap: 1px !important;
    }
    .second-sec-first h2 {
    width: auto;
        height: auto;
        font-size: 39px !important;
    }
    .second-sec-first span  {
        font-size: 45px !important;
    }
    .heading-first h5 {
        font-size: 30px !important;
        line-height: 29.5px;
    }
    .heading-first span {
        font-size: 29px !important;
    }


}
@media screen and (max-width: 470px) {

    .last-footer h2 {
        padding-right: 11px;
        text-align: center;

    }
    .inner-third-box h5 {
        font-size: 17px !important;
    }
    .inner-third-box h4 {
        font-size: 28px !important;
    }
    .new-child h3 {
        width: auto;
height: auto;
    }

    .inner-second-box h2 {
width: auto !important;
height: auto !important;
    }
    .second-info {
        margin: 0;
    }
    .second-info h3 {
        font-size: 12px !important;
    }
    .second-info h2 {
        font-size: 12px !important;
    }
    .inner-second-box h3 {
        width: auto !important;
        height: auto !important;
    }
   

    .second-con {
        width: auto !important;
        height: auto;
        overflow: hidden;
    }
    .inner-third-forth {
        width: auto;
    }
}
@media screen and (max-width: 488px) {
    .containt-image h6 {
        display: flex;
flex-wrap: wrap;
height: auto;
width: auto;
    }
}
@media screen and (max-width: 453px) {
    .last-footer {
        height: auto;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .end-footer h1{
text-align: center !important;
    }
}
@media screen and (max-width: 409px) {
    .forth-image {
        max-width: max-content !important;
    }
} 
@media screen and (max-width: 405px) {
    .foter-first {
        margin: 0 !important;
    }
    .for-check-number h6 {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 352px) {
    .second-box-last {
        gap: 15px !important;
    }
    .second-con {
        padding: 0 4PX ;
    }
   
}
@media screen and (max-width: 399px) {

    .inner-second-box h2 {
        font-size: 28px !important;
    }
    .forth-image {
        max-width: max-content !important;
    }
    .inner-second-box h3 {
        font-size: 14px !important;
        line-height: 18.26px;
    }
    .inner-third-box h5 {
        font-size: 15px !important;
        line-height: 18.26px !important;
    }
    .inner-third-forth h5 {
        font-size: 35px !important;
        line-height: 57.26px !important;
    }
    .inner-third-forth h5 {
        font-size: 35px !important;
        line-height: 57.26px !important;
    }
} 
@media screen and (max-width: 393px) {
    .about h2 {
        width: auto !important;
    }
    } 
@media screen and (max-width: 375px) {
    #black-last {
width: 290px !important;
    }
    .two-box{
        width: 287px !important;
    }
    .box-black-white {
        width: 239px !important;
    }
    .containt-image h6 {
        font-size: 13px !important;
    }
    .seven-button {
        width: 164px !important;
        height: 47px !important;
    }
}
@media screen and (max-width: 398px) {
    .second-sec-first p{
        text-align: center;
    }
}
@media screen and (max-width: 385px) {
    .circle-third {
      top: 70px !important;
        left: 120px !important;
    }
    .circle-forth {
        top: 144px !important;
    }
    .circle-third h3 {
        font-size: 9.9px !important;
        line-height: 16.34px !important;
    }
    .circle-forth h4 {
        font-size: 9.9px !important;
    }
    .circle-fifth h5 {
        font-size: 9.9px !important;
        line-height: 13.34px ;
    }

} 
@media screen and (max-width: 479px) {
    #section-second {
        padding: 22px 24px 22px 25px !important;
    }
}
@media screen and (max-width: 330px) {
    .second-info h3{
        text-align: center ;
    }
}
@media screen and (max-width: 356px) {

}
@media screen and (max-width: 336px) {
    footer {
        height:236px !important;
    }
    .about h1 {
        text-align: center !important;
    }
    .about h2 {
        text-align: center !important;
    }
    .for-check-number h6 {
        font-size: 11px !important;
    }
    #box-fifth-last h3 {
        font-size: 22px ;
    }
}
